{{# title("首页") }}

<style type="text/css" media="screen" scoped>
    #index-pic-container{ height: 550px; }
    .carousel-img{ height: 550px; background-size: auto; background-position:center; }
    .carousel-caption { background-color: rgba(100,100,100, 0.5); font-size: 20px; }
</style>
<div id="index-pic-container" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#index-pic-container" data-slide-to="0" class="active"></li>
    <li data-target="#index-pic-container" data-slide-to="1"></li>
    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div style="background-image: url(//bizhi.chainwon.com/bd/2016122503221496989.jpg);" class="carousel-img"></div>
      <div class="carousel-caption">
        美丽校园
      </div>
    </div>
    <div class="item">
      <div style="background-image: url(//bizhi.chainwon.com/bd/2017042911574567827.jpg);" class="carousel-img"></div>
      <div class="carousel-caption">
        信息竞赛合影
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#index-pic-container" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#index-pic-container" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<style type="text/css" media="all" scoped>
    
</style>
<div class="">
    
</div>